<div class="banner">
  <h1>Emprunter : <%= @livre.titre %></h1>
</div>
<div class="container">
  <%= simple_form_for [@livre, @emprunt] do |f| %>
    <div class="formulaire">
      <%= f.label :user, "Twelveur" %>
      <%= f.association :user, label_method: :prenom_nom, label: false %>
      <%= f.association :livre, label_method: :titre_auteur %>
      <%= f.label :date_debut, "Date d'emprunt" %>
      <%= f.input :date_debut, as: :date, html5: true, label: false %>
      <%= f.label :date_fin, "Fin de l'emprunt" %>
      <%= f.input :date_fin, as: :date, html5: true, label: false %>
      <%= f.input :avis %>
      <%= f.input :note %>
      <%= f.submit "Enregistrer", class: "btn btn-success"%>
    </div>
  <% end %>
</div>
