<div class="home-banner">
  <h1>Bienvenue les lecteurs ! </h1>
  <form action="/livres" method="get" class="searchbar">
    <input type="text" name="query" placeholder="Rechercher un livre !" class="form-control">
    <input type="submit" class= "btn btn-success" value="Ok">
  </form>
</div>
<div class="container">
  <div class="row">
    <% @livres.each do |livre| %>
      <div class="col-xs-12 col-md-6 col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-top">
            <% if livre.user.prenom.present? %>
              <div class="card-category"><%= livre.user.prenom %></div>
            <% else %>
              <div class="card-category">12eur inconnu</div>
            <% end %>
            <div class="card-description">
              <h2><%= livre.titre %> </h2>
              <p><%= livre.auteur %></p>
            </div>
            <% if livre.user.photo.present? %>
              <%= cl_image_tag livre.user.photo, class: "card-user" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "card-user") %>
            <% end %>
          </div>
          <div class="card-bottom">
            <% if livre.emprunts.sum(:note) > 0 %>
              <p><%= livre.emprunts.average(:note).round(1) %>/5 (<%= livre.emprunts.count(:note) %> avis)</p>
              <% if Like.where(user_id: current_user.id, livre_id: livre.id).exists? %>
                <% pre_like = livre.likes.find { |like| like.user_id == current_user.id} %>
                <%= link_to livre_like_path(livre, pre_like), method: :delete do %>
                  <i class="fas fa-list-alt like" data-like="true"></i></h2>
                <% end %>
              <% else %>
                <%= link_to livre_likes_path(livre), method: :post, params: { livre_id: livre.id } do %>
                  <i class="fas fa-list-alt" data-like="false"></i></h2>
                <% end %>
              <% end %>
            <% else %>
              <p>Pas encore de note</p>
              <% if Like.where(user_id: current_user.id, livre_id: livre.id).exists? %>
                <% pre_like = livre.likes.find { |like| like.user_id == current_user.id} %>
                <%= link_to livre_like_path(livre, pre_like), method: :delete do %>
                  <i class="fas fa-list-alt like" data-like="true"></i></h2>
                <% end %>
              <% else %>
                  <%= link_to livre_likes_path(livre), method: :post, params: { livre_id: livre.id } do %>
                    <i class="fas fa-list-alt" data-like="false"></i></h2>
                  <% end %>
              <% end %>
            <% end %>
          </div>
          <%= link_to "", livre_path(livre), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
