<p class="googlebook_key" data-google="<%= "#{ENV['GOOGLE_BOOK']}" %>" ></p>
<div class="banner">
  <h1>Ajoute un ouvrage à la bibliothèque </h1>
</div>
<div class="container">
  <%= simple_form_for @livre do |f| %>
    <div class="formulaire">
      <%= f.label :user, "Twelveur" %>
      <%= f.association :user, label_method: :prenom_nom, label: false%>
      <%= f.input :titre %>
      <div class="resultats hidden"></div>
      <%= f.input :auteur %>
      <%= f.input :description %>
      <%= f.input :video %>
      <%= f.input :video_cache, as: :hidden %>
      <%= f.input :pochette, as: :hidden %>
      <%= f.submit "Enregistrer", class: "btn btn-success"%>
    </div>
  <% end %>
</div>


