<div class="banner">
  <div class="banner-content">
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <h1>image </h1>
      </div>
      <div class="col-lg-8 col-xs-12">
        <h1><%= @livre.titre %> </h1>
        <h2>Proposé par <%= @livre.user.prenom %></h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
       <h2>L'avis de <strong><%= @livre.user.prenom %></strong> </h2>
       <iframe width="200" height="315" src="<%= @livre.video %>"></iframe>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h2>Un livre de <strong><%= @livre.auteur %></strong> </h2>
      <p><%= @livre.description %></p>
    </div>
  </div>
</div>

