<div class="banner-livre">
  <div class="pochette">
    <%= cl_image_tag @livre.pochette %>
  </div>
  <div class="infos">
    <h1><%= @livre.titre %> </h1>
    <h2>Proposé par <%= @livre.user.prenom %>
      <%= link_to edit_livre_path(@livre), id:"white-link" do %>
        <i class="fas fa-edit"></i></h2>
      <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
       <h2>L'avis de <strong><%= @livre.user.prenom %></strong> </h2>
       <video width="300" height="500" controls><source src="<%= @livre.video %>" type="video/mp4"></video>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h2>Un livre de <strong><%= @livre.auteur %></strong> </h2>
      <p class="description"><%= @livre.description %></p>
    </div>
  </div>
  <% if @livre.emprunts.count > 0 %>
    <div class="emprunt-display">
      <h2>Emprunts et avis</h2>
      <% @livre.emprunts.each do |emprunt| %>
        <div class="emprunt">
          <div class="entete">
            <div class="avatar-emprunteur">
              <%= cl_image_tag emprunt.user.photo %>
            </div>
            <div class="detail-emprunt">
              <p><strong><%= emprunt.user.prenom %></strong> (du <%= emprunt.date_debut %> au <%= emprunt.date_fin %>)</p>
              <% emprunt.note.times do  %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
          <div class="avis-emprunteur">
            <p><%= emprunt.avis %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

