<div class="banner">
  <h1><%= @livre.titre %> </h1>
  <h2>Proposé par <%= @livre.user.prenom %>
    <%= link_to edit_livre_path(@livre), id:"white-link" do %>
      <i class="fas fa-edit"></i></h2>
    <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
       <h2>L'avis de <strong><%= @livre.user.prenom %></strong> </h2>
       <video width="300" height="500" controls><source src="<%= @livre.video %>" type="video/mp4"></video>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h2>Un livre de <strong><%= @livre.auteur %></strong> </h2>
      <p class="description"><%= @livre.description %></p>
    </div>
  </div>
</div>

