<div class="banner">
  <h1>Mise à jour de l'utilisateur </h1>
</div>
<div class="container">
  <%= simple_form_for(@user) do |f| %>
     <%= f.label :prenom, 'Prénom' %>
    <%= f.input :prenom, label: false %>
    <%= f.input :nom %>
    <%= f.input :email %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.label :livre_emprunte, "Recevoir une notif. lors d'un emprunt" %>
    <%= f.input :livre_emprunte, label: false %>
    <%= f.label :livre_rendu, "Recevoir une notif. lorsque le livre est rendu" %>
    <%= f.input :livre_rendu, label: false %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
