<div class="banner">
  <h1>Le gang des lecteurs </h1>
</div>
<div class="container">
  <% @users.each do |user| %>
    <div class="user-list">
      <div class="row">
        <div class="col-xs-3">
          <% if user.photo.present? %>
            <%= cl_image_tag user.photo, class: "avatar" %>
          <% else %>
            <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar") %>
          <% end %>
        </div>
        <div class="col-xs-7">
          <% if user.prenom.present? %>
            <h2><%= user.prenom %> <%= user.nom %></h2>
          <% else %>
            <h2><%= user.email %></h2>
          <% end %>
        </div>
        <div class="col-xs-2">
          <%= link_to user_path(user) do %>
            <i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
