<div class="banner">
  <div class="user-profile">
    <div class="user-photo">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo, class: "avatar" %>
      <% else %>
        <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar") %>
      <% end %>
    </div>
    <div class="user-name">
      <% if @user.prenom.present? || @user.nom.present? %>
        <h1><%= @user.prenom %> <%= @user.nom %>
        <% if current_user == @user %>
          <%= link_to edit_user_path(@user), id:"white-link" do %>
            <i class="fas fa-edit"></i></h1>
          <% end %>
        <% end %>
      <% else %>
        <h1>12eur inconnu
        <%= link_to edit_user_path(@user), id:"white-link" do %>
          <i class="fas fa-edit"></i></h1>
        <% end %>
      <% end %>
    </div>
    <div class="user-update">
    </div>
  </div>
</div>
<div class="container">
  <div class="flexbox">
    <div class="mes-livres">
      <h2>Mes livres</h2>
      <% @user.livres.each do |livre| %>
        <div class="card">
          <div class="card-top">
            <% if livre.user.prenom.present? %>
              <div class="card-category"><%= livre.user.prenom %></div>
            <% else %>
              <div class="card-category">12eur inconnu</div>
            <% end %>
            <div class="card-description">
              <h2><%= livre.titre %> </h2>
              <p><%= livre.auteur %></p>
            </div>
            <% if livre.user.photo.present? %>
              <%= cl_image_tag livre.user.photo, class: "card-user" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "card-user") %>
            <% end %>
            <%= link_to "", livre_path(livre), class: 'card-link' %>
          </div>
          <div class="card-bottom">
            <% if livre.emprunts.sum(:note) > 0 %>
              <p><%= livre.emprunts.average(:note).round(1) %>/5 (<%= livre.emprunts.count(:note) %> avis)</p>
            <% else %>
              <p>Pas encore de note</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mes-emprunts">
      <h2>Mes Emprunts</h2>
      <% @user.emprunts.each do |emprunt| %>
        <div class="card">
          <div class="card-top">
            <% if emprunt.livre.user.prenom.present? %>
              <div class="card-category"><%= emprunt.livre.user.prenom %></div>
            <% else %>
              <div class="card-category">12eur inconnu</div>
            <% end %>
            <div class="card-description">
              <h2><%= emprunt.livre.titre %> </h2>
              <p><%= emprunt.livre.auteur %></p>
            </div>
            <% if emprunt.livre.user.photo.present? %>
              <%= cl_image_tag emprunt.livre.user.photo, class: "card-user" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "card-user") %>
            <% end %>
            <%= link_to "", livre_path(emprunt.livre), class: 'card-link' %>
          </div>
          <div class="card-bottom">
            <% if emprunt.livre.emprunts.sum(:note) > 0 %>
              <p><%= emprunt.livre.emprunts.average(:note).round(1) %>/5 (<%= emprunt.livre.emprunts.count(:note) %> avis)</p>
            <% else %>
              <p>Pas encore de note</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="notifications">
    <h2>Mes préférences de communication</h2>
    <p>Notification hebdomadaire des nouveaux livres
    <% if @user.notif_hebdo == true %>
      <i class="fas fa-check-circle"></i>
    <% else %>
      <i class="fas fa-minus-circle"></i>
    <% end %></p>
    <p>Notification lorsqu'un de mes livres est emprunté
    <% if @user.livre_emprunte == true %>
      <i class="fas fa-check-circle"></i>
    <% else %>
      <i class="fas fa-minus-circle"></i>
    <% end %></p>
    <p>Notification lorsqu'un de mes livres est rendu
    <% if @user.livre_rendu == true %>
      <i class="fas fa-check-circle"></i>
    <% else %>
      <i class="fas fa-minus-circle"></i>
    <% end %></p>
  </div>
</div>
